.billing__form .form__group input{
    border: 1px solid var(--card-bg-02);
}

.checkout__cart{
    padding: 20px;
    background: rgb(36, 35, 52);
    color: #fff;
    border-radius: 5px;
}


.checkout__cart h6, h4{
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.checkout__cart h6{
    margin-bottom: 20px;
}
.checkout__cart h4{
    border-top: 1px solid rgba(255, 244, 244, 0.637);
    padding-top: 20px;
}

.custom-button {
    background: #ee9ca7; 
    transition: background 0.3s ease-in-out;
    border: none;
  }
  
  .custom-button:hover {
    background: linear-gradient(to right,#eecda3, #ef629f);
    border: none;
  }
  